APP_NAME=FulfillSight
TOTAL_RECORDS=100
LOG_LEVEL=INFO

POSTGRES_DB=ordersdb
POSTGRES_USER=ordersuser
POSTGRES_PASSWORD=your_password_here

DB_HOST=postgres
DB_PORT=5432
DB_NAME=ordersdb
DB_USER=ordersuser
DB_PASSWORD=your_password_here